@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET (CRUD)</h1>
    <p> This is a project to show case CRUD (create, read, update, delete)</p>
    <p> In this aplication we are connected to a BestBuy database using an ORM (Dapper)</p>
    
</div>
